* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: url(./images/bg.jpg) no-repeat top center;
    line-height: 1.15;
  }

  
li {
    list-style: none;
  }
  @font-face {
    font-family: electronicFont;
    src: url(./font/DS-DIGIT.TTF);
  }
  
  header {
    height: 1.25rem;
    background: url(./images/head_bg.png) no-repeat;
    background-size: 100% 100%;
  }
  h1 {
    font-size: 0.475rem;
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 1rem;
  }
  .showTime {
    position: absolute;
    right: 0.375rem;
    line-height: 0.9375rem;
    top: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.25rem;
  }
  .mainbox {
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0.125rem 0.125rem 0rem;
  }
  .mainbox .column {
    flex: 3;
  }
  .mainbox .column:nth-child(2) {
    flex: 5;
    margin: 0 0.125rem 0.1875rem;
  }
  .mainbox .panel {
    position: relative;
    height: 3.875rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    background: url(./images/line.png);
    padding: 0 0.1875rem 0.5rem;
    margin-bottom: 0.1875rem;
  }
  .mainbox .panel::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
  }
  .mainbox .panel::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
  }
  .mainbox .panel .panel-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .mainbox .panel .panel-footer::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
  }
  .mainbox .panel .panel-footer::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
  }
  .mainbox .panel h2 {
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .mainbox .panel h2 a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.125rem;
  }
  .mainbox .panel .chart {
    height: 3rem;
    background-color: rgba(101, 132, 226, 0.1);
  }
  .no {
    background: rgba(101, 132, 226, 0.1);
    padding: 0.1875rem;
  }
  .no .no-hd {
    position: relative;
    border: 1px solid rgba(25, 186, 139, 0.17);
  }
  .no .no-hd::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 20px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
  }
  .no .no-hd::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 20px;
    height: 10px;
    border-bottom: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
  }
  .no .no-hd ul {
    display: flex;
  }
  .no .no-hd ul li {
    position: relative;
    flex: 1;
    line-height: 1rem;
    font-size: 0.875rem;
    color: #ffeb7b;
    text-align: center;
    font-family: 'electronicFont';
  }
  .no .no-hd ul li:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    width: 1px;
    background: rgba(255, 255, 255, 0.5);
  }
  .no .no-bd ul {
    display: flex;
  }
  .no .no-bd ul li {
    flex: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.225rem;
    height: 0.5rem;
    line-height: 0.5rem;
    padding-top: 0.125rem;
  }
  .map {
    position: relative;
    height: 10.125rem;
  }
  .map .map1 {
    width: 6.475rem;
    height: 6.475rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./images/map.png);
    background-size: 100% 100%;
    opacity: 0.3;
  }
  .map .map2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8.0375rem;
    height: 8.0375rem;
    background: url(./images/lbx.png);
    background-size: 100% 100%;
    opacity: 0.6;
    animation: rotate1 15s linear infinite;
  }
  .map .map3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.075rem;
    height: 7.075rem;
    background: url(./images/jt.png);
    background-size: 100% 100%;
    opacity: 0.6;
    animation: rotate2 15s linear infinite;
  }
  .map .chart {
    position: absolute;
    top: 0;
    left: 0;
    background: url();
    width: 100%;
    height: 10.125rem;
  }
  @keyframes rotate1 {
    form {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @keyframes rotate2 {
    form {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
  